NUXT_PUBLIC_APP_ENV=dev
NUXT_PUBLIC_APP_URL=http://localhost:3000

READ_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/jellylicious
WRITE_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/jellylicious
